<div style="text-align: center">
	<h1>Welcome</h1>
	<h1>MANDRILL_USERNAME:<%= @mandrillusername %> </h1>
	<h1>MANDRILL_PASSWORD:<%= @mandrillpassword %> </h1>

	<h3>This is my web-based audio engineering resume.</h3>

	<h5>Take a look around, and feel free to contact me at (801) 313-0394</h5>

	<%= image_tag "rocksolidsound.jpg", class: 'img-responsive' %>


</div>
